/* global */
body {
  background-color: #f4f7f0;
  color: #48484A;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
}

/* text styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1985A1;
  font-family: 'Josefin Slab', sans-serif;
}

a {
  color: #9BABB2;
  transition: all .3s ease;
}

a:hover {
  color: #1985A1;
}

/* layout */
.three.columns {
  width: 20%;
}

section {
  padding: 0 5% 3%;
}

h5,
li,
p:last-child {
  margin-bottom: 0;
}

svg {
  margin-right: .2em;
}


/* header */
header {
  padding: 2% 5% 0 0;
}

.header-img {
  position: relative;
}

.self-img {
  max-width: 20vw;
  position: absolute;
  right: -20%;
  top: 20%;
}

.about-text {
  background-color: #EADDCC;
  margin-left: 15vw;
  opacity: .8;
  padding: 2%;
}

.header-icons {
  text-align: center;
}

.icon {
  margin: 0 7%;
}


/* skills */



/* projects */
.project {
  height: 80vh;
  margin-bottom: 10vh; 
  position: relative;
}

.project-img {
  max-height: 50vh;
  max-width: 60vw;
  position: absolute;
}

.project-text {
  background-color: #C9D7D8;
  bottom: 0;
  color: #48484A;
  max-width: 40vw;
  opacity: .9;
  padding: 2%;
  position: absolute;
}

.project-link {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3em;
  margin-right: 2%;
}

.project-right{
  right: 4vw;
}

.project-left {
  left: 4vw;
}


/* experience */
.experience-content {
  padding: 0 4vw;
}

.experience p {
  margin-bottom: 0;
}


/* footer */
footer {
  background-color: #EADDCC;
  opacity: .8;
  padding: 2% 5%;
}



/* media queries */
@media only screen and (max-width: 768px) {
  section {
    padding-top: 3%;
  }

  /* header */
  header {
    padding: 2% 2% 0;
  }

  .header-img,
  .about-text {
    width: 100% !important;
  }

  .self-img {
    max-width: 40vw;
    right: 30vw;
    top: 10vh;
  }

  .about-text {
    margin-left: 0;
    margin-top: 2vh;
    padding: 5%;
  }


  /* skills */
  .skills-column {
    padding-left: 4vw;
    width: 44% !important;
  }


  /* projects */
  .project {
    height: auto;
    margin-bottom: 5vh;
    position: static;
  }

  .project-img {
    max-height: 100%;
    max-width: 90vw;
    position: static;
  }

  .project-text {
    max-width: 90vw;
    padding: 5%;
    position: static;
  }


  /* experience */
  .experience-content {
    padding-bottom: 4vh;
  }

  /* footer */
  footer h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 769px) and (orientation: portrait) {
  .project {
    height: 40vh;
    margin-bottom: 4vh;
  }
}

@media only screen and (min-width: 769px) and (orientation: landscape) {
  /* .project {
    height: 80vh;
  } */
}